<div class="hero">
  <div id="contact" class="header">
    <div [@fadeAnimation]="startTransition ? 'in' : 'out'">
      Kontakta oss
    </div>
  </div>
  <div class="content">
    <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" novalidate *ngIf="!messageSend">
      <div class="formgroup name">
        <input type="text" formControlName="name" placeholder="Förnamn Efternamn" required />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validationerror">
          <div *ngIf="name.errors.required">
            Namn är obligatoriskt
          </div>
        </div>
      </div>

      <div class="formgroup email">
        <input type="email" formControlName="email" placeholder="epost@doman.se" required />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validationerror">
          <div *ngIf="email.errors.required">
            E-post att obligatorkst
          </div>
          <div *ngIf="email.errors.email">
            Kontrollera att detta är en korrekt e-postadress
          </div>
        </div>
      </div>

      <div class="formgroup phone">
        <input type="tel" formControlName="phone" placeholder="070-1234556" />
      </div>

      <div class="formgroup message">
        <textarea id="messagebox" formControlName="message" placeholder="Beskriv din fråga här" cols="50" rows="10" required></textarea>
        <div *ngIf="message.invalid && (message.dirty || message.touched)" class="validationerror">
          <div *ngIf="message.errors.required">
            Meddelande är obligatoriskt
          </div>
        </div>
      </div>

      <button [@buttonvalid]="contactForm.valid ? 'in' : 'out'" [ngClass]="{'sending': sending}" type="submit" [class]="contactForm.valid ? 'formgroup button valid' : 'formgroup button'" [disabled]="!contactForm.valid || sending">
        Skicka
      </button>

    </form>

    <div class="message-container">
      <div *ngIf="messageSend" class="sendmessage success">Ditt meddelande har skickats</div>
      <div *ngIf="messageError" class="sendmessage error">Ånej! Någonting gick fel! Försök gärna igen</div>
    </div>
  </div>
</div>
