.hero {
  background-image: url("../../../assets/images/annie-spratt-pKpipZVVEC0-unsplash_small.jpg");
  height: 100vh;

  display: grid;
  grid-template-rows: 95px auto;
}

.hero .content {
  height: 100%;

  display:grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.hero .content section {
  padding: 30px;
  text-align: center;
  font-size: 50pt;
  color: white;
  /* border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px; */
}

.navbar {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../../../assets/images/annie-spratt-pKpipZVVEC0-unsplash_small.jpg");
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {

}
